form(action="/post/#{post.id}", method="post", class="toneForm #{post.rating > 0 && post.category ? 'saved' : ''}")
	label(for="category_#{post.id}") Kategori
	input(type="text", id="category_#{post.id}", value="#{post.category ? post.category : ''}", name="category", list="categories_#{post.id}", autofocus)
	datalist(id="categories_#{post.id}")
		option Support
		option Opsigelse
		option Snaps
	ol
		li
			input(type="radio", id="one_#{post.id}", value="1", name="tone", checked=post.rating == 1)
			label(for="one_#{post.id}") Meget negativ
		li
			input(type="radio", id="two_#{post.id}", value="2", name="tone", checked=post.rating == 2)
			label(for="two_#{post.id}") Negativ
		li
			input(type="radio", id="three_#{post.id}", value="3", name="tone", checked=post.rating == 3 || !post.rating)
			label(for="three_#{post.id}") Neutral
		li
			input(type="radio", id="four_#{post.id}", value="4", name="tone", checked=post.rating == 4)
			label(for="four_#{post.id}") Positiv
		li
			input(type="radio", id="five_#{post.id}", value="5", name="tone", checked=post.rating == 5)
			label(for="five_#{post.id}") Meget positiv

	button(type="submit", class="ranking") Go
